.btn, button {
	padding: 10px;
	color: #fff;
	background: #BA2C46;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
button.btn {
	padding: 9px 23px;
}