.event {
	text-align: center;
	text-transform: capitalize;
	margin: 10px;
	@media screen and (min-width: 820px) {
		display: grid;
		grid-template-columns: 2fr 2fr;
		grid-template-rows: auto auto;
		max-width: 1270px;
		margin: 20px auto;
		.title, .location {
			text-align: left;
		}
		.date {
			text-align: right;
		}
		.title, .location, .date {
			margin: 0;
		}
	}
}